* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.wrap {
 width: 80%;
 margin: 5vh auto 0;
 font-family: 'open sans', 'Montserrat', sans-serif;; 
}

h1 {
 text-align: center;
 text-transform: uppercase;
 margin-bottom: 30px;
}
.game {
 display: flex;
 margin-bottom: 3vh;

}
.game div {
 height: 30vh;
 flex-grow: 1;
 margin: 10px;
border: 3px solid black;
}

.play {
 text-align: center;
}

.play .bid {
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 10px;
}

.play .btnStart {
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
}

.play input{
 height: 90px;
 font-size: 40px;
 padding: 20px;
 width: 400px;
 border: 3px solid black;
 text-align: center;
}
.play button {
 width: 40%;
 height:90px;
 text-align: center;
 padding: 20px 60px;
 font-size: 40px;
 text-transform: uppercase;
 background-color: #333;
 border: none;
 color: white;
 cursor: pointer;
 letter-spacing: 6px;
}

.panel {
 margin: 80px 0 40px;
 font-size: 26px;
}

.panel, .score {
 font-size: 26px;
}

.score {
    margin-top: 5vh;
    text-align: center;
}

.panel span, .score span {
 font-weight: bold;
}

.color {
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 600px) {
    .play .bid {
        width: 200px;
        font-size: 24px;
        display: block;
        margin: 3vh auto;
    }

    .play button {
        display: block;
        margin: 0 auto;
        width: 200px;
        font-size: 24px;
        text-align: center;
        padding: 0;
    }

    .game {
        margin: 5px;
    }

    .game div {
        height: 200px;
        margin: 5px;
    }

}